body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, white, #ebdddd);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 90%;
  max-width: 800px;
  background-color: #ffffff;
  color:blueviolet;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s;
}

.app-container:hover {
  transform: scale(1.02);
}

.app-header {
  text-align: center;
  background-color: #007bff;
  color:black;
  padding: 20px 0;
  position: relative;
}

.app-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.app-main {
  padding: 20px;
}

.task-input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#task-title, #task-desc {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

#task-title:focus, #task-desc:focus {
  border-color: #007bff;
  outline: none;
}

.save-btn {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn:hover {
  background-color: #218838;
}

.task-display {
  margin-top: 20px;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: #e9ecef;
}

.task-list li span {
  flex-grow: 1;
  margin-right: 10px;
}

.complete-btn, .delete-btn {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:step-end
}
